@inject SignInManager<KauRestaurantUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link rounded-0 @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="bi bi-person me-2"></i>المعلومات الشخصية
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link rounded-0 @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <i class="bi bi-envelope me-2"></i>البريد الإلكتروني
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link rounded-0 @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password"
           asp-page="./ChangePassword">
            <i class="bi bi-key me-2"></i>تغيير كلمة المرور
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <a class="nav-link rounded-0 @ManageNavPages.ExternalLoginsNavClass(ViewContext)" id="external-login"
               asp-page="./ExternalLogins">
                <i class="bi bi-box-arrow-in-right me-2"></i>حسابات خارجية
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link rounded-0 @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor"
           asp-page="./TwoFactorAuthentication">
            <i class="bi bi-shield-lock me-2"></i>المصادقة الثنائية
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link rounded-0 @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data"
           asp-page="./PersonalData">
            <i class="bi bi-file-person me-2"></i>البيانات الشخصية
        </a>
    </li>
</ul>
